.reviews-container {
    width: 80%;
    margin: 0% 25%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.thead {
    width: 100%;
    font-weight: bold;
    text-align: left;
    background-color: #f2f2f2;
    padding: 10px;
    
}

.table {
    border-collapse: collapse;
    justify-content: space-evenly;

}

.td {
    border-top: 1px solid #ddd;
    text-align: center;

}
.review-btn{
  border: none;
  border-radius: 7px;
  background-color: #007bff;
  padding: 5px 10px;
  cursor: pointer;
  transition:  background-color 0.5s ease-in;
  width: 130px;
}
.review-btn:hover {
  background-color: #0056b3;
}
.review-btn:disabled{
    width: 130px;
    background-color: #e4e4e4;
    color: #919090;
    outline: none;
    border-radius: 7px;
    padding: 5px 10px;
    cursor: default;
    border: none;
    transition-property: none;  
}
.review-btn:disabled:hover{
    width: 130px;
    background-color: #e4e4e4;
    color: #919090;
    outline: none;
    border-radius: 7px;
    padding: 5px 10px;
    cursor: default;
    border: none;
    transition-property: none;  
}


.feedbackForm {
    width: 100%;
    margin: auto;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    text-align: center;
}

.feedbackForm label{
    text-align: left;
    margin: 10px;
    flex-direction: column
}

.feedbackForm button {
    border-radius: 50px;
    padding: 5px 15px;
    width: fit-content;
    margin: 0%;
}

.feedbackForm textarea {
    height: 150px;
}
.feedbackForm input {
padding: 5px;
}

.starrating{
    display: flex;
    flex-direction: row-reverse;
}

.starrating input{
    display: none;
}

 .starrating input:not(:checked) ~ label:hover,
 input:not(:checked) ~ label:hover ~ label{
    color: rgb(255, 232, 29);
}

 input:checked ~ label {
    color: rgb(255, 232, 29);
}

.starrating label {
    color: grey;
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 15px;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}