
.doctor-card-container {
    width: fit-content;
    height: fit-content;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
 
  .doctor-card-profile-image-container img{
    width: 15rem;
    height: 15rem;
    border-radius: 200px;
    padding: 5px;
  }
  
  .doctor-card-details {
    text-align: center;
  }
  
  .doctor-card-detail-name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  
  .doctor-card-detail-speciality {
    font-size: 15px;
    margin-bottom: 2px;
  }
  
  .doctor-card-detail-experience {
    font-size: 15px;
    color: #888;
    margin-bottom: 2px;
    font-weight: bold;
  }
  
  .doctor-card-detail-ratings {
    font-size: 15px;
    font-weight: bold;
  }
  
  .book-appointment-btn {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .book-appointment-btn:hover {
  background-color: #0060b4;
  }

  .cancel-appointment {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-appointment:hover {
    background-color: #d63027;
  }

.popup-content {
    width: fit-content;
    height: 91%;
    padding: auto;
    display: inline-block;
    text-align: center;
    overflow-y: auto;
}

.popup-content img{
    width: 10rem;
    height: 10rem;
    border-radius: 200px;
    padding: 5px;
}
.doctorbg{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: fit-content;
}

.booking-btn {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.booking-btn:hover {
    background-color: #0060b4;
    }

.bookedInfo{
    display: block;
    padding: 20px;
    font-weight: bold;
    font-size: medium;
}
.bookedInfo p{
    margin-bottom: 15px;
    text-align: left;
}

.appointment-form {
  width: 100%;
  top: relative;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin: 5px;
  font-size: 14px;
  text-align: left;
}

.form-group input, select {
    width: 100%; 
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
