.bc-dr-card-container {
    width: 300px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .cancel-appointment {
    background-color: red;
  }
  
  .bc-dr-card-details-container {
    padding: 20px;
  }
  
  .bc-dr-card-profile-image-container {
    text-align: center;
    margin: 10px;
  }
  
  .bc-dr-card-profile-image-container img {
    width: 200px;
    height:200px;
    border-radius: 50%;
  }
  
  .bc-dr-card-details {
    text-align: center;
  }
  
  .bc-dr-card-detail-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .bc-dr-card-detail-speciality {
    margin-bottom: 5px;
  }
  
  .bc-dr-card-detail-experience {
    color: #888;
    margin-bottom: 5px;
    font-weight: bold;
  }
  

  .bc-dr-card-detail-ratings {
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: -15px;

  }

  
  .bc-book-appoinment-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bc-book-appoinment-btn div:nth-child(2) {
    font-weight: bold;
  }
  .bc-modal-container {
  position:fixed;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bc-popup-content {
    width: fit-content;

}
.bc-modal-content {
  background-color: #fff;
  padding: auto;
  border-radius: 5px;
  max-width: fit-content;
  height: fit-content;
  text-align: center;
}

.h3 {
  display: block;
}

.bc-appointments-doctorbg{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding:5px;
}
.bc-bookedInfo{
    display: block;
    padding: 20px;
    font-size: medium;
    margin-bottom: 60px;
}

.bc-book-appointment-btn {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.bc-book-appointment-btn:hover {
  background-color: #0056b3;
}

.bc-cancel-appointment-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}
.bc-cancel-appointment-btn:hover {
  background-color: #d63027;
}

.bc-appointment-form {
  position: relative;
  margin: 5px;
  display: grid;
  place-items: center;
}

.bc-form-group label {
  font-weight: bold;
  margin: 5px;
  text-align: left;
}

.bc-form-group input, select {
    width: 100%; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup-content {
  display: grid;
  place-items: center;
  width: fit-content;
  padding: 5px;
}

button.bc-booking-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bc-btn:hover {
  background-color: #0056b3;
}