
.docimg{
    height: 30rem;
    width:30rem;
    margin:0px;
    z-index: 1;
}
.doctor-search-box {
    display: flex;
    width: 30rem;
    position: auto;
    margin: 0px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0,.1) 0 - 1px 0 0 inset;
    border-radius: 5px;
    height: fit-content;
}

.search-doctor-input-box {
    width: 100%;
    padding: 6px 20px 5px 10px;
    outline: none;
    font-size: 14px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;
    border-right: transparent;
    border-top:1px solid rgb(59, 58, 58);
    border-bottom:1px solid rgb(59, 58, 58);
    border-left:1px solid rgb(59, 58, 58);
    margin-top: 8px;
}

.findiconimg {
    width: 40px;
    padding: 5px;    
    background-color: rgb(215, 214, 214);
    height: 40px;
    border-top:1px solid rgb(59, 58, 58);
    border-bottom:1px solid rgb(59, 58, 58);
    border-right: 1px solid rgb(59, 58, 58);
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-left: transparent;
    cursor: pointer;
    margin-top: 8px;
}

.search-doctor-input-results {
    left: 0;
    margin-top: 5%;
    width: 100%;
    z-index: 5;
    border: transparent;
    border-radius: 5px;
}

.search-doctor-result-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 12px;
    column-gap: 14px;
    cursor: pointer;
    text-align: left;
    border: 1px solid #555;
    border-radius: 5px;

}

.search-doctor-result-item:not(:last-child) {
    border-bottom: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.search-doctor-result-item:not(:first-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.search-doctor-result-item:hover {
    background-color: #f0f0f5;
}

.search-doctor-result-item>span:nth-of-type(1) {
    border: 1px solid #f0f0f5;
    border-radius: 50%;
    padding: 8px;
    background-color: #f0f0f5;
}

.search-doctor-result-item>span:nth-of-type(2) {
    font-size: 14px;
    color: #414146;
}

.search-doctor-result-item>span:nth-of-type(3) {
    font-size: 11px;
    flex-grow: 1;
    color: #787887;
    text-align: right;
    text-transform: uppercase;
    justify-self: flex-end;
}

.home-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10%;
}
.finddoctor{
    padding: 0%;
}
