.container-login {
    z-index: 11;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 20%;
    height: auto;
    padding: 0px;
    margin: 0px auto;
    overflow: hidden;
}

.login-text {
    padding: 0px; 
    text-align: center;}

.new-member {
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
}

.new-member span {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    align-content: center;
    color: #3c79a7;
    font-weight: bold;
    cursor: pointer;
}

.form-group-login input {
    width: 100%;
    padding: 11px;
    border: 0.01rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 13px;
}


.form-group-login label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: medium;
    font-weight: bold;
}

.form-group-login span {
    font-weight: normal;
    color: #3c79a7;
    cursor: pointer;
}

.btn-group {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    justify-content: center;
}


.submit-btn {
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 3rem; 
    cursor: pointer;
    background-color: #007bff; /* Set background color for primary button */
    color: #fff;
}

.reset-btn {
    margin: 16px;
    font-size: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 3rem; 
    cursor: pointer;
    background-color: #dc3545; /* Set background color for danger button */
    color: #fff; /* Set text color for danger button */
}